.onClicker {
    float: right;
    color: #2F6FA5;
    padding-right: 20px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#cp-contrib {
    float: right;
    margin-bottom: 1em;
}

.campPlanTitle {
    text-transform: uppercase;

    > span {
        text-transform: none;
    }
}
