@import 'dashboard-base';
@import 'quick-search';
@import 'campus-planning';

// gallery container & images
.imgContainer {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    width: 100%;

    &.active {
        display: block !important;

        a img:hover {
            opacity: .8;
        }

        img {
            display: none;
        }
    }
}
