/*********************************/
/*     Fixing Equella Styles     */
/*********************************/

body #helpAndOptions {
    display: none !important;
}

#topwide > .box:first-child{
    display: block;
}

#ppfm3_portletDiv {
    background: #fff;
}

.box_head {
    display: none;
}

.box_content {
    padding-top: 0px;
    border-top: 0px !important;
}

/*********************************/
/* END Fixing Equella Styles END */
/*********************************/

// gallery container & images
.imgContainer {
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;

    &.active img {
        display: none;
    }

    &.active {
        display: block !important;

        a img:hover {
            opacity: .8;
        }
    }
}

// collection tabs for gallery
#mainTabs {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;

    .mainTab {
        float: left;
        padding: 5px 5px;
        color: #333;
        cursor: pointer;
        min-width: 130px;
        text-align: center;

        &:hover {
            color: #000;
            text-decoration: none;
        }

        &.active {
            font-weight: bold;
        }
    }
}
