//     Fixing Equella Styles

body #helpAndOptions {
    display: none !important;
}

#topwide > .box:first-child {
    display: block;
}

#ppfm3_portletDiv {
    background: #fff;
}

// heading inside each portlet e.g. for Quick Search
.box_head {
    display: none;
}

.quick-search h3 {
    padding-left: 30px;
}

.box_content {
    border-top: 0 !important;
    padding-top: 0;
}

// END Fixing Equella Styles

// collection tabs for gallery
#mainTabs {
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    width: 100%;

    .mainTab,
    .tab {
        color: #333;
        cursor: pointer;
        float: left;
        min-width: 130px;
        padding: 5px;
        text-align: center;

        &:hover {
            color: #000;
            text-decoration: none;
        }

        &.active {
            font-weight: bold;
        }
    }
}
