#startTourBtn {
    color:#b35;
    cursor: pointer;
    position: absolute;
    right: 40px;
    text-align: right;
    top: 31px;
    z-index: 10;

    &:hover {
        text-decoration: underline;
    }
}

.tour-backdrop {
    opacity: .5;
}

.suggestion {
    color: #d46;
}
